.formLista{
    display: grid;
    grid-template-columns:repeat(12,16.8vh);
    grid-template-rows:repeat( 10, 3vw);
    grid-column-gap:2px;
    grid-row-gap: 2px;
    border: solid 5px gray;
}

.l1{color: blue;
    border: solid 5px gray;
    text-decoration: underline;
    font-size:xx-large;}


.c1{
    background-color:white;
    grid-area: 1 / 1 / 1 / 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c2 { 
    background-color:white;
    grid-area: 1 / 2 / 2 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c3 { 
    background-color:white;
    grid-area: 2 / 3 / 1 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c4 { 
    background-color:white;
    grid-area: 1 / 4 / 2 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c5 { 
    background-color:white;
    grid-area: 1 / 5 / 2 / 5; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c6 { 
    background-color:white;
    grid-area: 1 / 6 / 2 / 6; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c7 { 
    background-color:white;
    grid-area: 1 / 7 / 2 / 7; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c8 { 
    background-color:white;
    grid-area: 1 / 8 / 2 / 8; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c9 { 
    background-color:white;
    grid-area: 1 / 9 / 2 / 9; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}
.c10 { 
    background-color:white;
    grid-area: 1 / 10 / 2 / 10; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}

.c11{
    background-color: white;
    grid-area:1 / 11 / 2 / 11 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}

.c12{
    background-color: white;
    grid-area:1 / 12 / 2 / 12 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
}



/*----------------------------------------------------------------------------------------------------------------*/
.f1{color: blue;
    text-decoration: underline;
    font-size:xx-large;
}

.f2{border:solid 3px black;
    border-style: double;
}

.hidden{
    display: none;
}

/*----------------------------------------------------------------------------------------------------------------*/
#tbody{font-family: Arial;}
th,
td {
    border: 3px solid black;
    padding-top: 5vh;
    padding-left: 4.32vw;
    
    }

#spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner.hidden {
    display: none
}

#spinner div {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
